* {
    padding: 0;
    margin: 0;
}

body {
    padding-top: 50px !important;
    background :radial-gradient(#111, #000) !important;
}

.add_new_button_mobile_only {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 15px 10px;
    background: white;
    z-index: 3;
    width: 100%;
}

#addon-wrapper:hover {
    background-color: black;
    color: white;
}

.nav-item a:hover {
    color: red !important;
    transform: scale(1.5);
    transition: 0.5s;
}

.navbar-brand {
    cursor: default;
}

.add_new_button_mobile_only {
    background-color: rgb(193, 178, 178) !important;
}

.card {
    opacity: 0.85 !important;
}

.section-1 {
    height: 100vw;
    width: 100%;
    position: absolute;
    background: radial-gradient(#333, #000);
}
.leaf {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.leaf div {
    position: absolute;
    display: block;
}

.leaf div:nth-child(1) {
    left: 20%;
    animation: fall 15s linear infinite;
    animation-delay: -2s;

}

.leaf div:nth-child(2) {
    left: 60%;
    animation: fall 15s linear infinite;
    animation-delay: -4s;
}

.leaf div:nth-child(3) {
    left: 10%;
    animation: fall 20s linear infinite;
    animation-delay: -7s;

}

.leaf div:nth-child(4) {
    left: 40%;
    animation: fall 18s linear infinite;
    animation-delay: -5s;
}

.leaf div:nth-child(5) {
    left: 75%;
    animation: fall 14s linear infinite;
    animation-delay: -5s;
}

.leaf div:nth-child(6) {
    left: 15%;
    animation: fall 16s linear infinite;
    animation-delay: -10s;
}

.leaf div:nth-child(7) {
    left: 80%;
    animation: fall 15s linear infinite;
    animation-delay: -4s;
}

@keyframes fall {
    0% {
        opacity: 1;
        top: -10%;
        transform: translateX (20px) rotate(0deg);
    }

    20% {
        opacity: 0.8;
        transform: translateX (-20px) rotate(45deg);
    }

    40% {

        transform: translateX (-20px) rotate(90deg);
    }

    60% {

        transform: translateX (-20px) rotate(135deg);
    }

    80% {

        transform: translateX (-20px) rotate(180deg);
    }

    100% {

        top: 110%;
        transform: translateX (-20px) rotate(225deg);
    }
}

.leaf1 {
    transform: rotateX(180deg);
}

.section-1 h2 {
    position: absolute;
    top: 40%;
    width: 100%;
    font-family: 'Courgette', cursive;
    font-size: 4em;
    text-align: center;
    transform: translate;
    color: #fff;
    transform: translateY (-50%);
}